@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding-top: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container-div {
  display: flex;
  justify-content: space-between;
}
.container-div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-div2 {
  border: 2px solid white;
  margin: 5px;
  padding: 16px;
}
li {
  border: 10px;
  border-color: white;
}
label {
  display: block;
}
.button1 {
  height: 25px;
}

input {
  margin-top: 5px;
}

span {
  margin: 5px;
}
.submt-btn {
  margin: 5px auto auto auto;
}
